#home {
    text-align: center;
    padding:80px 20px;

}
#home h1{
    font-size: 48px;
    margin-bottom: 10px;
}
#home h2{
    font-size:24px;
}
#home p{
    font-size: 18px;
}
#home a {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background: black;
    color: white;
    border: 2px solid black;
    text-decoration: none;
    transition: 0.3s;
}
body {
    font-family: Arial, sans-serif;
}
 nav ul {

    display: flex;
    gap:20px;
    list-style: none;
    padding: 0;    
    justify-content: center;
    align-items: center;

}
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
nav a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
nav a:hover {
    color:red;
}
#home a:hover{
    background: white;
    color: black;
    transform: translateY(-3px);
}