#home {
    text-align: center;
    padding:80px 20px;

}
#home h1{
    font-size: 48px;
    margin-bottom: 10px;
}
#home h2{
    font-size:24px;
}
#home p{
    font-size: 18px;
}
#home a {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background-color: black;
    color: white;
    border: 2px solid black;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
}